.years-pannel {
    width: 100vw;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    cursor: pointer;
}

.years-pannel div {
    scroll-snap-align: center;
    text-shadow: 0 0 12px black ;
    font-size: 2.75rem;
    font-weight: 300;
    flex-shrink: 0;
    margin-right: .75rem;
    width: 14rem;
    height: 14rem;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.timelines {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.timelines div {
    position: absolute;
    height: 3px;
    width: 10rem;
    background: black;
}

.quick-access-bar {
    display: flex;
    width: 80vw;
    height: 3rem;
    background: gray;
    margin: auto;
    align-items: center;
}

.quick-access-bar .title {
    padding-left: 1rem;
    font-weight: 400;
}

.quick-access-bar .date {
    padding-right: 1rem;
    margin-left: auto;
    font-weight: 100;
}

.years-sections .year-sections .imageWithText {
    display: flex;
    flex-direction: row;
    padding: .5rem 1rem;
}

.years-sections .year-sections .imageWithText img {
    width: 20rem;
    height: 20rem;
    flex-shrink: 0;
    object-fit: cover;
}

.years-sections .year-sections .imageWithText p {
    margin: 0;
    padding-left: 1rem;
    height: auto;
}

.hidden {
    background: red;
}