* { box-sizing: border-box; }

body {
    font-family: 'Avenir Next';
    margin: 0;
}

.main-title {
    display: flex;
    justify-content: center; /*Align Horizontally*/
    align-items: center; /*Align Vertically*/
    height: 100vh;
    width: 100vw;
}

.main-title h1 {
    cursor: pointer;
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
}

.main-title h1 div {
    width: .9em; /*em - Inherits*/
    height: .9em;
    position: absolute;
    top: .5rem;
    right: 0;
    border-right: 1px solid black;
    border-top: 1px solid;
}

.transparent-cover {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, .5);
    transition: top 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.transparent-cover.open {
    top: 0;
}

.transparent-cover .fa-chevron-up {
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 2rem;
    opacity: .5;
}

.transparent-cover nav {
    width: 100vw;
    display: flex;
}

.transparent-cover nav a:first-child {
    margin-left: 1rem;
}

.transparent-cover nav a:last-child {
    margin-left: auto;
    margin-right: 1rem;
}

.transparent-cover nav a {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 200;
    padding: .5rem 1rem;

    /*to override button presets*/
    outline: none !important;
    background: transparent;
    border: none;

    /*to override a presets*/
    color: inherit;
    text-decoration: none;
}

.navigation-bar {
    display: flex;
    position: fixed;
    box-shadow: 0 1px 4px grey;
    background-color: white;
    top: -4rem;
    left: 0;
    height: 4rem;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    transition: top 0.1s ease-in-out;
}

.navigation-bar h1 {
    text-transform: uppercase;
    margin-left: 1rem;
    font-weight: 200;
}

.navigation-bar.appear {
    transition-duration: 0.4s;
    top: 0;
}

.navigation-bar .fas.fa-bars {
    height: 1rem;
    position: fixed;
    top: .5rem;
    right: 0;
    padding: 1rem;
    margin-right: 1rem;
}

.page-title {
    margin-top: 4rem;
    text-align: center;
    font-weight: 400;
}
